.navbar {
    letter-spacing: 4px;

    font-size: 80%;

    text-align: center;
    background: inherit;
    color: #964;
}
.header {
    /* text-align: center; */
    align-content: center;
    font-size: 200%;

    background: #420d09;
    color: #777;

    padding: 2%;
}
a {
  color: inherit;
}