.footer {
  background: #420d09;
  padding: 2%;
}
h3{
  font-size: 133%;
  color: #777;
}
a {
  color: #964;
}
a img {
  width: 40px;
  height: 40px;
  line-height: 36px;
  font-size: 16px;
  overflow: hidden;
  position: relative;
  text-align: center;
  transition: all .3s;
  margin-right: 5px;
  text-decoration: none !important;
}
