<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Logs</mat-card-title>
      <mat-card-subtitle>Stacked Logs</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://previews.123rf.com/images/madredus/madredus1309/madredus130900084/22289132-pile-of-wood-logs-ready-for-winter.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>Merge Conflicts</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>