.example-card {
    max-width: 550px;
  }
  
  .example-header-image {
    background-image: url('https://static1.squarespace.com/static/554271e0e4b0de923b9520ed/t/55897f07e4b05d31342edde7/1435074315666/stacked-stones.jpg?format=1500w');
    background-size: cover;
  }