<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Stacked</mat-card-title>
      <mat-card-subtitle>Balance</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://static1.squarespace.com/static/554271e0e4b0de923b9520ed/t/55897f07e4b05d31342edde7/1435074315666/stacked-stones.jpg?format=1500w" alt="stacked rocks">
    <mat-card-content>
      <p>Merge Conflicts</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>