.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://previews.123rf.com/images/madredus/madredus1309/madredus130900084/22289132-pile-of-wood-logs-ready-for-winter.jpg');
    background-size: cover;
  }